[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:baberthal/oh-my-zsh
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim
[submodule "tmux/tmux-cpu"]
	path = tmux/tmux-cpu
	url = git@github.com:tmux-plugins/tmux-cpu
[submodule "tmux/tmux-mem-cpu-load"]
	path = tmux/tmux-mem-cpu-load
	url = git@github.com:thewtex/tmux-mem-cpu-load.git
