[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/baberthal/oh-my-zsh.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "nvm"]
	path = nvm
	url = https://github.com/creationix/nvm.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/baberthal/zsh-completions.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "zsh-autoenv"]
	path = zsh-autoenv
	url = https://github.com/Tarrasch/zsh-autoenv.git
