snippet copyr "Copyright" w
Copyright (c) `date +%Y` `git config user.name` <`git config user.email`>
endsnippet

global !p
from vimsnippets import foldmarker, make_box, get_comment_format
# def commentout(str = None):
#     fmt = vim.eval("&commentstring")
#     if str == None:
# 	return fmt % ""
#     else:
# 	return fmt % str
# snip += commentout("  ")`Created by `contacts -Hm -f '%n' | sed 's/^[ \t]*//;s/[ \t]*$//'` on `date +%d/%m/%y``!p
# snip += blankln
endglobal
