snippet mdc "Material Design Card" w
<md-card>
	<md-card-content>
		$0
	</md-card-content>
</md-card>
endsnippet

snippet mdcon "md-content" w
<md-content layout-padding>
	$0
</md-content>
endsnippet

snippet mdicon "md-icon" w
<md-icon md-font-icon="$0" alt="$1"></md-icon>
endsnippet

snippet mdi "md-input with container" w
<md-input-container>
	<label>$0</label>
	<input name="$0" ng-model="$1">
</md-input-container>
endsnippet
