snippet ret "return" b
return $0
endsnippet

snippet future "Import common __future__ modules" b
from __future__ import unicode_literals
from __future__ import print_function
from __future__ import division
from __future__ import absolute_import
from builtins import *  # noqa
$0
endsnippet
